<div>
  <form>

    <div class="form-group" *ngIf="title_edit">
      <input type="text" class="form-control" name="title" required placeholder="video Title" [(ngModel)]="video.title">
    </div>
    <h3 *ngIf="!title_edit" (click)="edit('title')">{{video.title}}</h3>
    <div class="form-group" *ngIf="url_edit">
      <input type="url" class="form-control" name="url" required placeholder="video url" [(ngModel)]="video.url">
    </div>
    <h3 *ngIf="!url_edit" (click)="edit('url')">{{video.url}}</h3>
    <div class="form-group" *ngIf="description_edit">
      <textarea class="form-control" rows="5" name="description" required [(ngModel)]="video.description"></textarea>
    </div>
    <h3 *ngIf="!description_edit" (click)="edit('description')">{{video.description}}</h3>
  </form>
</div>